
# 1 - limited FPS, 0 - disable FPS limit.
SwapInterval = 0

# 0 - upload full pixmap, 1 - upload damaged region (one call), 2 - upload damaged region (line by line)
UploadMode = 0

# 0 - upload pixmap only if changed, 1 - constatly reupload full pixmap (debugging)
AlwaysUpload = 0

# 0 - redraw texture only if changed, 1 - constantly redraw texture (debugging)
AlwaysDraw = 0
